.koszyk {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
}

.koszyk span {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.koszyk span:hover {
    color: red;
}

.koszyk {
    min-height: 100vh;
}

.koszyk span {
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    width: 200px;
}

.item-koszyk {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.item-koszyk span {
    border: none;
}

.item-koszyk button {
    transform: translateY(20px);
}

.koszyk-item button {
    margin-right: 400px;
    width: 100px;
}

.koszyk-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.koszyk .price {
    margin-right: 400px;
    border: none;
    background-color: rgb(80, 175, 80);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 520px) {
    .koszyk {
        margin-left: -15px;
    }
}