@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cormorant+SC:wght@500;700&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Fira+Sans+Condensed:wght@300&family=Hind+Siliguri:wght@600;700&family=Indie+Flower&family=Montserrat:ital,wght@0,300;1,300;1,500&family=Noto+Sans+Mono&family=Nunito:ital,wght@1,500&family=Open+Sans:ital,wght@0,400;0,600;1,500&family=Quicksand:wght@300&family=Red+Hat+Display:ital@1&family=Roboto:ital@1&family=Saira:ital@1&family=Source+Code+Pro:ital,wght@1,500&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@500&display=swap');
*
.img-user {
    width: 60px;
    height: 60px;
    transform: translateY(-15px);
    border-radius: 50%;
    border: 2px solid black;
}
/* Dropdown-menu-profile*/

.dropdown-menu-profile {
    position: absolute;
    top: 160px;
    right: 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu-profile.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu-profile.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu-profile ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu-profile ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu-profile ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItemProfile {
    display: flex;
    margin: 10px auto;
}

.dropdownItemProfile img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItemProfile a {
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}


.dropdown-profile-none {
    height: 20px;
    border: 2px solid black;
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 5;
    background-color: #525151;
    margin-left: -200px;
    margin-top: -10px;
    display: none;
}

.dropdown-profile-block {
    height: 100px;
    border: 2px solid black;
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 5;
    background-color: #525151;
    margin-left: -200px;
    margin-top: -10px;
    display: none;
}

.dropdown-profile-block li {
    margin-left: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-profile-block li button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    height: 50px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}